*.swp
*.[oa]
*.otrace
*.trc

build/*_profiler
build/*_trace
build/*_code
build/*_sim
build/model
build/base_model

datasets
output/bench_output

micro_benchmark/cache1_fermi/cache1
micro_benchmark/cache1_maxwell/cache1

__pycache__
